html {
	font-family: sans-serif;
	line-height: 1.6;
}
body {
	margin: 1rem;
}
h2 {
	border-bottom: 1px solid #aaa;
}
h3 {
	margin: 1rem 0;
}
dl {
	margin-left: 1rem;
}
dt {
	font-weight: bold;
	display: block;
}
dd {
	margin-left: 1rem;
	display: block;
}